/*
四、CSS样式--链接
    1、CSS链接的四种状态
        a:link 普通的、未被访问的链接
        a:visited 用户已访问的链接
        a:hover 鼠标指针位于链接的上方
        a:active 链接被点击的时刻
    2、常见的链接样式
        text-decoration属性大多用于去掉链接中的下划线
    3、设置背景颜色
        background-color
*/
a:link{
    color: #FF0000;
    text-decoration: none;
    background-color: aquamarine;
}
a:visited{
    color: #00ff00;
}
a:hover{
    color: #0000ff;
}
a:active{
    color: #0000ff;
}
