/*
八、CSS基础--介绍及语法
    1、CSS介绍：层叠样式表
    2、CSS基础语法
        selector{
            property:value
        }
        例：h1{color:red; font-size:14px;}
        属性大于1个之后，属性之间用分号隔开;如果值大于1个单词，则需要加上引号
        p{font-family:"sans serif";}
    3、CSS高级语法
        选择器分组：
            h1,h2,h3,h4,h5,h6{color:red;}
        继承：
            body{
                color:green;
            }
    4、CSS派生选择器
    5、CSS选择器
    6、CSSid选择器
    7、CSS类选择器
    8、CSS属性选择器
*/

h1,a,h2{
    color: #0000ff;font-size: 50px;
}
body{
    color: blueviolet;
}

p{
    color: red;
}