/*
CSS盒子模型----外边距合并
*/

body{
    margin: 0;
}
.container{
    margin: 100px;
}
.bd{
    border-style: solid;
}
.pd{
    padding: 10px;
}
.content{
    background-color: #0000ff;
}
.container1{
    margin: 100px;
}
.bd1{
    border-style: solid;
}
.pd1{
    padding: 10px;
}
.content1{
    background-color: #0000ff;
}