/*
CSS定位
    css定位：
        改变元素在页面上的位置
    css定位机制
        普通流：元素按照其在HTML中的位置顺序决定排布的过程
        浮动
        绝对布局
    css定位属性
        position,把元素放在一个静态的、相对的、绝对的、或固定的位置中
        top, left, right, bottom,元素向上/左/右/底的偏移量
        overflow,设置元素溢出其区域发生的事情
        clip,设置元素显示的形状
        vertical-align,设置元素垂直对齐方式
        z-index，设置元素的堆叠顺序
*/

#position1{
    width: 100px;
    height: 100px;
    background-color: #0000ff;
    position: absolute;
    left: 20px;
    top: 20px;
    z-index: 2;
}

#position2{
    width: 100px;
    height: 100px;
    background-color: aqua;
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 3;
}
#position3{
    width: 100px;
    height: 100px;
    background-color: blueviolet;
    position: absolute;
    left: 30px;
    top: 30px;
    z-index: 1;
}