/*
CSS定位----浮动---瀑布流效果布局
    浮动：
        float属性可用的值
            left:元素向左浮动
            right:元素向右移动
            none:元素不浮动
            inherit:从父级继承浮动属性
    clear属性
        去掉浮动属性（包括继承来的属性
        clear属性值：
            left、right:去掉元素向左、向右浮动
            both:左右两侧均去掉浮动
            inherit:从父级继承来clear的值
*/
*{
    margin: 0px;
    padding: 0px;
}

li{
    list-style: none;
}
#div1{
    width: 950px;
    height: auto;
    margin: 20px auto;
}
ul{
    width: 250px;
    float: left;
}